@tailwind base;
@tailwind components;
@tailwind utilities;

#sections {
  display: grid;
  grid-auto-columns: calc(100%);
  grid-auto-flow: column;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* mark{
  background-color: transparent;
}

mark:hover{
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
} */


