@tailwind base;
@tailwind components;
@tailwind utilities;

#sections {
  display: grid;
  grid-auto-columns: calc(100%);
  grid-auto-flow: column;
  overflow-x: scroll;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: inherit;
}

a{
  z-index: -1;
}


