---
import Window from '../components/Window.astro';
import Header from '../components/Header.astro';
import "../styles/global.css";
import "../main.ts"
---

<html lang="en" class = "scroll-smooth">
  <head>
	<meta charset="utf-8">
    <title>Tiana Clemons</title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="global.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>
  <body class="h-screen bg-snow">
	<Header/>
	<div id = "sections" class = "">	
	<div id = "links" class="section">
		<Window>
			<h2 class = "pl-4 font-indieflower" slot="section">contact me</h2>
			<span slot = "content">
			<h1 class = "font-semibold text-lg pb-2">Where to find me!</h1>
			<ul class="list-disc p-2">
				<li><a class = "hover:underline" href="https://github.com/tiananc" title="GitHub">GitHub</a></li>
				<li><a class = "hover:underline" href="https://www.linkedin.com/in/tiananc/" title="LinkedIn">LinkedIn</a></li>
			  </ul>
			  
		</span>
		</Window>
	</div>
</div>
<footer class="p-4 flex justify-center sticky top-full font-indieflower">© Tiana Clemons 2024</footer>
  </body>
</html>

