<header class="bg-snow">
	<div class = "pt-12 pb-12">
		<div id = "title" class = "font-indieflower text-3xl flex justify-center pb-4">
			<h1>⋆.˚⟡ ࣪ ˖ Tiana Clemons ˖ ࣪ ⟡˚.⋆</h1>
		</div>
		<ul id = "navbar" class = "flex justify-center text-base font-medium space-x-8">
			<li><a href="/">home</a></li>
			<li><a href="/projects">projects</a></li>
			<li><a href="/links">links</a></li>
		</ul>
	</div>
	</header>