<ul id = "rainbowbtn" class="flex space-x-2 pr-4 pt-1">
<li id = "rainbowbtn" class="rounded-full h-4 w-4 flex bg-melon border-dark-grey border-2"></li>
<li id = "rainbowbtn" class="rounded-full h-4 w-4 flex bg-sunset border-dark-grey border-2"></li>
<li id = "rainbowbtn" class="rounded-full h-4 w-4 flex bg-cream border-dark-grey border-2"></li>
<li id = "rainbowbtn" class="rounded-full h-4 w-4 flex bg-tea-green border-dark-grey border-2"></li>
<li id = "rainbowbtn" class="rounded-full h-4 w-4 flex bg-electric-blue border-dark-grey border-2"></li>
<li id = "rainbowbtn" class="rounded-full h-4 w-4 flex bg-periwinkle border-dark-grey border-2"></li>
<li id = "rainbowbtn" class="rounded-full h-4 w-4 flex bg-mauve border-dark-grey border-2"></li>
<li id = "rainbowbtn" class="rounded-full h-4 w-4 flex bg-grey-smoke border-dark-grey border-2"></li>
</ul>